<footer class="footer page__area-footer">
    <div class="footer__links">
        <a class="footer__link link link_type_hover" href="./index.html#install">Install</a>
        <a class="footer__link link link_type_hover" href="./index.html#docs">Documentation</a>
        <a class="footer__link link link_type_hover" href="./index.html#styling-tips">Styling tips</a>
        <a class="footer__link link link_type_hover" href="./peculiarity.html">Peculiarity</a>
        <a class="footer__link link link_type_hover" href="https://github.com/saschati/tape-slider">
            <i class="fa-brands fa-github"></i>
        </a>
        <a class="footer__link link link_type_hover" href="https://www.npmjs.com/package/@saschati/tape-slider">
            <i class="fa-brands fa-npm"></i>
        </a>
    </div>
    <p class="footer__copyright">The design of the page was taken from <a class="link link_type_hover" href="https://www.figma.com/file/7l1Ar0sPDERTOqMYBqElAp/Landing-Page---Startup-App?node-id=970%3A923">Startup App</a></p>
</footer>