<header class="header page__area-header">
    <a href="./index.html" class="header__logo">@saschati/tape-slider</a>
    <a class="header__link link link_type_underline" href="./index.html#install">Install</a>
    <a class="header__link link link_type_underline" href="./index.html#docs">Documentation</a>
    <a class="header__link link link_type_underline" href="./index.html#styling-tips">Styling tips</a>
    <a class="header__link link link_type_underline" href="./peculiarity.html">Peculiarity</a>
    <a href="https://www.npmjs.com/package/@saschati/tape-slider"
       class="header__btn btn btn_color_primary btn_round_x1 btn_mod_icon">
        <i class="btn__icon-before fa-brands fa-npm"></i>
        To the npm page
    </a>
</header>