<!DOCTYPE html>
<html lang="en">
<head>
    <%= _.template(require('./../inc/head.html').default)() %>
</head>
<body class="page peculiarity scrollbar">
    <%= _.template(require('./../inc/header.html').default)() %>

    <main class="peculiarity__container page__area-content list grid">
        <div class="glory-to-ukraine grid__area" style="--grid-area: glory_to_ukraine">
            <div class="portal portal_color_blue glory-to-ukraine__blue-portal"></div>
            <div class="glory-to-ukraine__tape js-tape-slider--right">
                <h1 class="glory-to-ukraine__item title title_h3">Слава Україні!</h1>
            </div>
            <div class="portal portal_color_yellow glory-to-ukraine__yellow-portal"></div>
        </div>

        <div class="information grid__area" style="--grid-area: worth_to_know">
            <h2 class="information__title title title_h2">Worth to know:</h2>
            <p class="information__description">
                Before using the plugin, you should know some of its behavior/bugs that may be the reason for not using this library at this time.
                Problems will be solved as a way is found and the author has free time.
                If there is a problem in this section, then it has not been solved yet :)
            </p>
        </div>

        <div id="problem-offset" class="information grid__area" style="--grid-area: problem_offset">
            <h3 class="list__item list__item_increment information__title title title_h5">
                <span class="clr clr_color_third">Offset:</span>
            </h3>
            <p class="information__description">
                At set speeds of less than <span class="clr clr_color_third">5000</span>,
                and even with some iterations of the tape,
                it can be shifted both to the right and to the left when calculating the path.
            </p>
            <div class="alert alert_type_info">
                <i class="alert__icon fa-solid fa-circle-exclamation"></i>
                <p class="alert__message">
                    Partially fixed.
                </p>
            </div>
            <div class="information__tape tape tape_direction_row js-tape-slider_problem_collision">
                <div class="tape__item tape__item_direction_row bg bg_color_black"></div>
                <div class="tape__item tape__item_direction_row bg bg_color_dark"></div>
                <div class="tape__item tape__item_direction_row bg bg_color_third"></div>
                <div class="tape__item tape__item_direction_row bg bg_color_primary"></div>
                <div class="tape__item tape__item_direction_row bg bg_color_npm"></div>
            </div>
        </div>

        <div id="problem-offset" class="information grid__area" style="--grid-area: problem_overflow">
            <h3 class="list__item list__item_increment information__title title title_h5">
                <span class="clr clr_color_third">Overflow:</span>
            </h3>
            <p class="information__description">
                At this time, the tape does not expand according to the size of the content that is in it, but is based on the size of the tape.
            </p>
            <div class="alert alert_type_info">
                <i class="alert__icon fa-solid fa-circle-exclamation"></i>
                <p class="alert__message">
                    This will be finalized soon.
                </p>
            </div>
            <p class="information__description information__description_for_tape">
                <span class="clr clr_color_black weight weight_type_w7">In this example, one element is on another :(</span>
            </p>
            <div class="information__tape tape tape_type_counter tape_direction_row js-tape-slider--right">
                <div class="clr clr_color_white tape__item tape__item_mod_count tape__item_direction_row bg bg_color_black"></div>
                <div class="clr clr_color_white tape__item tape__item_mod_count tape__item_direction_row bg bg_color_dark"></div>
                <div class="clr clr_color_white tape__item tape__item_mod_count tape__item_direction_row bg bg_color_third"></div>
                <div class="clr clr_color_white tape__item tape__item_mod_count tape__item_direction_row bg bg_color_primary"></div>
                <div class="clr clr_color_white tape__item tape__item_mod_count tape__item_direction_row bg bg_color_npm"></div>
                <div class="clr clr_color_white tape__item tape__item_mod_count tape__item_direction_row bg bg_color_black"></div>
                <div class="clr clr_color_white tape__item tape__item_mod_count tape__item_direction_row bg bg_color_dark"></div>
                <div class="clr clr_color_white tape__item tape__item_mod_count tape__item_direction_row bg bg_color_third"></div>
                <div class="clr clr_color_white tape__item tape__item_mod_count tape__item_direction_row bg bg_color_primary"></div>
                <div class="clr clr_color_white tape__item tape__item_mod_count tape__item_direction_row bg bg_color_npm"></div>
                <div class="clr clr_color_white tape__item tape__item_mod_count tape__item_direction_row bg bg_color_black"></div>
                <div class="clr clr_color_white tape__item tape__item_direction_row bg bg_color_dark">
                    <span class="weight weight_type_w9">:(</span>
                </div>
            </div>
        </div>

        <div class="information grid__area" style="--grid-area: help">
            <h3 class="information__title title title_h5">Also:</h3>
            <p class="information__description">
                If you know how to solve the problems above, or you find another bug, you can:
            </p>
            <ul class="information__description list">
                <li class="list__item list__item_increment">
                    Create a <a class="link link_type_hover weight weight_type_w7" href="https://github.com/saschati/tape-slider/pulls">pull request</a> with changes.
                </li>
                <li class="list__item list__item_increment">
                    Write about a bug or suggestion in <a class="link link_type_hover weight weight_type_w7" href="https://github.com/saschati/tape-slider/issues">issues</a>.
                </li>
            </ul>
        </div>
    </main>

    <%= _.template(require('./../inc/footer.html').default)() %>
</body>
</html>
